With the given list below; get the following output:

list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]] **bold text**

expected_output = [[23, 12], [41, 19], [109, 2], [1,25], [103, 87]

In [5]:
list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]]
list_1_updated = []

# for i in list_1:
#   i = list(reversed(i))
#   list_1_updated.append(i)

# print(list_1_updated)

for i in list_1:
  i.reverse()
  list_1_updated.append(i)

print(list_1_updated)


# i = 0
# while i < len(list_1):
#     tem_list = list_1[i][1]
#     list_1[i][1] = list_1[i][0]
#     list_1[i][0] = tem_list
#     print(list_1)
#     i += 1

[[23, 12], [41, 19], [109, 2], [1, 25], [103, 87]]

------------------------------------------------------------------------------------------------------------

With the below list; get the following output:

list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]]

expected_output = [1, 2, 12, 19, 23, 25, 41, 87, 103, 109]

In [23]:
list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]]
list_1_updated = []

for i in list_1:
  for y in i:
    list_1_updated.append(y)

# list_1_updated.sort()
print(sorted(list_1_updated))

[1, 2, 12, 19, 23, 25, 41, 87, 103, 109]

-----------------------------------------------------------------------------------------------------------------

With the below list; get the following output:

list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]]

expected_output = [[1,109], [2, 103], [12, 87], [19, 41], [23,25]]

In [25]:
list_1 = [[12,23], [19,41],[2,109], [25,1], [87,103]]
list_1_updated = []

for i in list_1:
  for y in i:
    list_1_updated.append(y)

new_list = sorted(list_1_updated)
print(new_list)
new_list_updated = []
y = []

for i in range(len(new_list)):
  

#   list_1 = [[12, 23], [19, 41], [2, 109], [25, 1], [87,103]]
# list_2 = []
# uzunluk = len(list_1)
# for i in range(uzunluk):
#    list_2.append(list_1[i][0])
#    list_2.append(list_1[i][1])
# list_2 = sorted(list_2)
# for i in range(len(list_1)):
#     list_1[i][0]= list_2[i]
#     list_1[i][1]= list_2[-(i+1)]
# print(list_1)

[1, 2, 12, 19, 23, 25, 41, 87, 103, 109]

---------------------------------------------------------------------------------------------------------------------------------------------

Find the Armstrong numbers in the range of 500.

In [7]:
for i in range(5000):
    str_1 = list(str(i))
    power = len(str_1)
    sum = 0
    for k in str_1:
        sum += int(k)**power
    if sum == i :
        print(i)

0
1
2
3
4
5
6
7
8
9
153
370
371
407
1634

-----------------------------------------------------------------------------------------------------------------------

Write a while-loop that prints the even numbers from 200 to 150 in descending order.

In [4]:
i = 200
while i >=151:
    i -= 2
    print(i)

198
196
194
192
190
188
186
184
182
180
178
176
174
172
170
168
166
164
162
160
158
156
154
152
150